body {
  font-family: sans-serif;
  background: linear-gradient(270deg,#5691c8,#457fca);;
  color: #333;
}

#color-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  width: 800px;
  height: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 1px 3px 6px #666;
  background-color: #ffd700; 
}
#color-input {
  margin: 1rem;
}

#canvas {
  margin: auto;
  width: 800px;
  height: 1000px;
  box-shadow: 1px 3px 6px #666;
  background-color: #ffffff;
}

.pixel {
  float: left;
}