body {
  background-color: #333333;
}

.header {
  text-align: center;
  color: #ffffff;
}

#color-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  width: 800px;
  height: 80px;
  background-color: #dddddd; 
}
#color-input {
  margin: 1rem;
}

#canvas {
  margin: auto;
  width: 800px;
  height: 1000px;
  background-color: #ffffff;
}

.pixel {
  float: left;
}